<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011540086178-helkg8rfd3niqf9i4365pie9sl5ge8ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011540086178-helkg8rfd3niqf9i4365pie9sl5ge8ah</string>
	<key>API_KEY</key>
	<string>AIzaSyDQHx6WPCfD_eG9IGw6K2Yac8hUGXenHoo</string>
	<key>GCM_SENDER_ID</key>
	<string>1011540086178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yoonjong.eonggeum-iOS</string>
	<key>PROJECT_ID</key>
	<string>eonggeum-74187</string>
	<key>STORAGE_BUCKET</key>
	<string>eonggeum-74187.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011540086178:ios:c0d8dd6fb31e008e29b6fb</string>
</dict>
</plist>